.gafru{
    color: blue;
    background-color: cadetblue;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.skills{
    color: darkgreen;
    background-color: darkgrey;
    font-size: 40px;
}
.pw{
    color: crimson;
    background-color: chocolate;
    font-size: 30px;
    margin-top: 10px;
}
.heading1{
    color: darkviolet;
   background-color: lemonchiffon;
    
}