body {
    font-family: "Roboto Condensed", sans-serif;
  }
  .container {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    text-align: center;
  }
  .avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .content h1 {
    color: red;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
  }